<div class="well">

  <h4>Welcome to Blackjack App!</h4>
  <img src="/images/cards/spades_ace.jpg"><img src="/images/cards/clubs_king.jpg"><br><br>

  Enter your name to start the game.<br>
  <form action="/start_game" method="post" class="form-inline">
    <input type="text" name="username"/ placeholder="Name" class="input-medium"><input type="submit" value="Submit" class="btn">
  </form>

</div>